/******** This is a footer ********/

.footer{
    background-color: #fafafa;
}

.space{
    background-color: #E6E7E8;
    height: 50px
}

.logoLeft{
    float: left;
    padding: 0;
}

.logoLeft img{
    margin: 0;
    margin-top: 25px;
    height: 30px;
    width: 165px;
}

.buttonRight button{
    float: right;
    width: 350px;
    max-width: 100%;
}

.siteMaps h4{
    text-transform: uppercase;
}

.siteMaps{
    display: inline;
    padding: 0 35px;
}

.footerHeading{
    padding: 60px 50px
}

.footerColors{
    height: 25px;
    margin-top: 85px;
    padding: 0;
}

#color1{
    background-color: #A62033;
}
#color2{
    background-color: #EC5A3F;
}
#color3{
    background-color: #72BF44;
}
#color4{
    background-color: #F7941F;
}

@media screen and (max-width: 575px){
    .logoLeft{
        display: none;
    }

    .siteMaps{
        display: none;
    }
}