body
{
    margin-top: 0px ;
}


/* Hero Banner  */
.heroHeader img
{
    height: 100vh;
    background-size: contain;
}
    .heroBanner
    {
        text-align: left;
        margin: auto;
        bottom: 35vh;
    }
        .heroHeading
        {
            font-size: 2.3em;
            margin-bottom: 40px;
        }
        .heroText
        {
            font-size: 1.7em;
            margin-bottom: 50px;
        }
        
        @media screen and (max-width:800px)
        {
            .heroHeading
            {
                font-size: 1.4em;
            }
        
            .heroText
            {
                font-size: 0.8em;
            }
        
            .carousel-indicators
            {
                bottom: -25px;
            }
        }
        

/* Carousel */
.carousel-item:before
{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0, 0.6);
}

.carousel-caption
{
    display: block;
    top: 30vh; 
}

.carousel-indicators li.active,
.carousel-indicators li 
{ 
    border: 0; 
    bottom: 10vh;
}

.carousel-indicators li 
{
  background: #666;
  border-radius: 15px;
  margin: 0 3px;
  width: 12px;
  height: 12px;
}



.carousel-indicators li.active 
{
  background: #fff;
  margin: 0 3px;
}


/* Intro Info Section */
.introInfo img
{   
    border: none;
}
    .introInfo h2
    {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 1.2em;
    }
    .introInfo article
    {
        padding: 0;
    }



@media screen and (max-width: 850px)
{
    .infoImg1
    {
        float: left;
        display: inline;
    }

    .infoText1
    {
        display: inline;
        float: left;
    }

    .infoImg2
    {
        float: right;
        display: inline;
    }

    .infoText2
    {
        display: inline;
        float: right;
    }
}

/* Tiny Learn More Section */
.learnMore
{
    font-size: 1.2em;
}

/* Case Studies Section */
.caseStudy
{
    margin-bottom:50px;
    padding: 20px;
}
    .caseStudyImg
    {
        

        margin-bottom: 25px;
        max-width: 100%;
        max-height: 100%;
        height: 200px;

        transition: opacity 0.3s;
        background-repeat: no-repeat;
        background-size: cover;

    }
        .caseStudyImg:hover
        {
            opacity: 0.7;
        }

    @media screen and (max-width: 800px)
    {
        .caseStudy 
        {
            padding: 20px;
        }
        .caseStudyImg
        {
            margin: 0;
            height: 125x;
            background-position: center;
        }

        #csMicrosoft
        {
            background-position: 0px 0px !important;
            max-height: 100%
        }

        #csStanford
        {
            background-position: 0px 0px !important;

        }
    }
   
    #csMicrosoft
    {   
        background-image: url('../img/microsoft-img.jpg');
        background-position: 0px -150px;
    }
    #csGmotors
    {
        background-image: url('../img/gm-img.jpg');
    }
    #csStanford
    {   
        background-image: url('../img/stanford-img.jpg');
        background-position: 0px -70px;
    }
    #csInsitu
    {
        background-image: url('../img/insitu-img.png');
        background-size: contain !important;
        
    }
        
    .caseStudy img
    {
        margin-bottom: 25px;
        max-width: 100%;
        height: 350px;

        transition: opacity 0.3s;
    }

    .caseStudy img:hover
    {
        opacity: 0.7;
        background: rgba(0,0,0, 0.6);
    }

        
    .caseStudy h2
    {
        font-size: 1.2em;
    }
/********************
 ** Navbar Styling **
 ********************/
 /*
 a.nav-link {  
    color: #fff!important;
    
 }

 .navbar {
    background-color: transparent;    
 }
*/

