/********************
 ** Navbar Styling **
 ********************/
a.nav-link {  
    font-size: 1.111em ; 
    font-family: Oswald ; 
    /*padding: 0 0 15px 25px*/;
    color: #ffffff; }

a.nav-brand { 
    padding-top: 0;
    padding-bottom: 0;
}

#navbar {
    padding: 0px 30px 0px 30px;
}

header {
    padding: 26px 0; /* 40 - 8 */
    border-bottom: 1px solid #dedede;
}

/** Not part of navbar just for testing **/
#index-body {    
    background: url("../img/intro-carousel/banner_1.jpg");
    background-size: cover;
}