/*********************
 ** Body Font Sizes **
 *********************/
 H1 { font-size: 2.222em ; font-family: Cabin ; color: #414082 }
 H2 { font-size: 1.333em ; font-family: Oswald ; color: #333333 ; text-transform: uppercase ; }
 P { font-size: 1.333em ; font-family: Raleway ; font-weight: 600 ; color: #333333; text-align:left ; } 
 P.light { font-weight: 400 ; color: #666666 ; max-width: 1024px }

/** Main Styling **/
section {    
    padding-left: 50px;
    padding-right: 50px;
}

.mainMargin
{
   margin-left: 50px;
   margin-right: 50px;
}
.headerMargin
{
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: #FAFAFA;
   
}
.mainHeader
{
   color: #424182;
}

body {
    padding-top: 115px;
}

.separater {
    background-color: #E6E7E8;    
}

.active {
    color: #414082!important;
}

/*
main {
    padding-top: 116px;    
} 
*/

/********************
 ** Navbar Styling **
 ********************/
a.nav-link {  
    font-size: 1.111em; 
    font-family: Oswald; 
    padding: 0px 0px 0px 25px!important;
    color: #666666    
}

.active {
    color: #414082;
}

a.navbar-brand { 
    padding-top: 0!important;
    padding-bottom: 0!important;
    
}

.navbar {    
    border-bottom: 1px solid #dedede;
    opacity: 0.95;
    padding: 40px 50px ;
    background-color: #FFFFFF;
    
}

/** Responsive Elements **/

/* Elements with width-75 on larger screens */
@media screen and (max-width: 475px) {
    .w-75 {
        width: 100%!important;
    }
}

/* Navbar toggler button */
@media screen and (max-width: 475px) {
    .navbar-toggler {        
        position: absolute;
        right: 25px;
    }
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

/* {
    margin: 0;
    padding: 0;
} */

/********* Button Styling *********/
/* body {
    background-color: black;
} */

.myButton 
{
    width: 350px;
    height: 70px;
    font-size: 1.333em;
    font-family: Oswald;
    text-transform: uppercase; 
    padding: 0; 
    color: #666666;
    background-color: transparent; 
    text-align: center;
    border: 1px solid #ffffff; 
    border-radius: 35px; 
}
/********* Hero Banner Button *********/
.buttonStudies:hover 
{
    background-color: #ffffff; 
    border: 1px solid #424182;
    color: #424182
}
/********* Body Button  *********/
.buttonConsult
{
    border: 1px solid #424182; 
    color: #424182; 
    padding: 0; 
}
.buttonConsult:hover
{
    background-color: #424182; 
    border: 1px solid #424182;
    color: #FFFFFF
}

/******** This is a footer ********/

#footer{
    width: 100%;
    background-color: #fafafa;
}

#footerHeading{
    padding: 60px 50px;
    /* background-image: url("img/footer-logo.jpg");
    background-size: contain; */
    /* height: 100px; */
    /* width: 200px; */
    /* display: inline-block; */
    margin-bottom: 60px 
}

.floatRight{
    float: right;
}
#footer img{
    display: inline-block;
    vertical-align: top;
    padding-top: 25px;
    height: 63px;
    /* width: 225px */
}

.footerContent{
    display: inline-block;
    margin-bottom: 80px;
}

.footerText{
    float: left;
    vertical-align: top;
    width: 18%;
    margin: 0 50px;
}

.footerText h4{
    text-transform: uppercase;
}

.footer_colors{
    height: 35px;
    width: 25%;
    float: left;
}

#color1{
    background-color: #A62033;
}
#color2{
    background-color: #EC5A3F;
}
#color3{
    background-color: #72BF44;
}
#color4{
    background-color: #F7941F;
}