/* Thematic Changes  */

* {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6
{
    
}

p {
    font-size: 1.1em!important;
}

.row 
{
    max-width: 100%;
    margin: 0;
}
img
{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.mainMargin
{
    margin-left: 50px;
    margin-right: 50px;
}
.headerMargin
{
    margin-top: 60px;
    margin-bottom: 60px;
}
.mainHeader
{
    color: #424182;
}

body
{
    margin-top: 88px; /*old value 115px*/
}

.title{
    background-color: #E6E7E8;
    padding: 50px;
    text-transform: uppercase;
    color: #414082;
    font-family: Oswald;
    
    margin-top: 0!important;
}

/********************
 ** Navbar Styling **
 ********************/
a.nav-link {
    color: #666666!important;
    font-size: 1.111em ;
    font-family: Oswald ;
}

a.active {
    color: #414082!important;
}

a.nav-link:hover {
    color: #414082!important;
    transition: 0.5s;
}

.navbar {    
    border-bottom: 1px solid #dedede;
    opacity: 0.95;
    padding: 40px 50px;
    height: 88px;    
    transition: all 0.5s;
    background-color: #FFFFFF;
}

.navbar .navbar-brand {
    background-image: url('../img/logo_ramplogo_main@2x.png');
    background-size: 173px 28px;
    width: 173px;
    height: 28px;
}

a.nav-brand { 
    padding-top: 0;
    padding-bottom: 0;
}

@media screen and (max-width: 991px) 
{
    .navbar {
        height: auto!important;
        /* overflow: auto; */
    }
}

/* Seperators */
.sectionSep
{
    background-color: lightgray;
    height: 50px;
}

.topSep
{
    background-color: lightgray;
    height: 50px;
}


/* Case Studies Section */
.caseStudy
{
    margin-bottom:50px;
    padding: 20px;
}
        
.caseStudy img
{
    margin-bottom: 25px;
    max-width: 100%;
    height: 250px;

    transition: opacity 0.3s;
}

.caseStudy img:hover
{
    opacity: 0.7;
    background: rgba(0,0,0, 0.6);
}

.caseStudy h2
{
    font-size: 1.2em;
}       

/********* Button Styling *********/
.myButton 
{
    width: 350px;
    height: 70px;
    font-size: 1.333em;
    font-family: Oswald;
    text-transform: uppercase;
    padding: 0; 
    color: #666666;
    background-color: transparent; 
    text-align: center;
    border: 1px solid #ffffff; 
    border-radius: 35px; 
}

@media screen and (max-width: 550px)
{
    .myButton
    {
        width: 150px;
        font-size: 0.8em;
        bottom: 15%;
    }
        
}
/********* Hero Banner Button *********/

.buttonStudies
{
    display:block;
    margin:auto;
}

.buttonStudies:hover 
{
    background-color: #ffffff; 
    border: 1px solid #424182;
    color: #424182
}
/********* Body Button  *********/
.buttonConsult
{
    border: 1px solid #424182; 
    color: #424182; 
    padding: 0; 
}
.buttonConsult:hover
{
    background-color: #424182; 
    border: 1px solid #424182;
    color: #FFFFFF
}

/* Scroll Up Button */
.scrollUp
{
    position: fixed;
    z-index: 1000;
    bottom: 25px;
    right: 25px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #424182;
}

    #chev-up
    {
        height: 50px;
        border-radius: 10vw;
        
        fill: white;
    }

@media screen and (max-width: 475px)
{
    .scrollUp
    {
        right: 43%;
    }

    .navbar-toggler {        
        position: absolute;
        right: 25px;
    }
    
}


/******** This is a footer ********/

#footer{
    width: 100%;
    background-color: #fafafa;
}

#footerHeading{
    padding: 60px 50px;
    /* background-image: url("img/footer-logo.jpg");
    background-size: contain; */
    /* height: 100px; */
    /* width: 200px; */
    /* display: inline-block; */
    margin-bottom: 60px 
}

.floatRight{
    float: right;
}
#footer img{
    display: inline-block;
    vertical-align: top;
    padding-top: 25px;
    height: 63px;
    /* width: 225px */
}

.footerContent{
    display: inline-block;
    margin-bottom: 80px;
}

.footerText{
    float: left;
    vertical-align: top;
    width: 18%;
    margin: 0 50px;
}

.footerText h4{
    text-transform: uppercase;
}

.footer_colors{
    height: 35px;
    width: 25%;
    float: left;
}

#color1{
    background-color: #A62033;
}
#color2{
    background-color: #EC5A3F;
}
#color3{
    background-color: #72BF44;
}
#color4{
    background-color: #F7941F;
}