/******** Methodology styling ********/


.methodology{
    background-color: #fafafa;
    padding: 40px 50px 0;
}

/********** The heading of the tabs **********/

.tab{
    padding-bottom: 45px;
}

.tabHeading{
    padding: 25px;
    margin: auto;
    display: inline-block;
}

.png img{
    max-height: 125px;
    height: 100%;
}

.png{
    display: inline-block;
}

.tabInfoHead{
    color: #fff;
    display: inline-block;
    margin: auto;
}

.tabInfoHead h3{
    text-transform: uppercase;
}

.tabInfo {
    padding-top: 25px;
}

#strategy{
    background-color: #EC5A3F;    
}

#design{
    background-color: #F68C36;
}

#implementation{
    background-color: #D42F2E;
}

#ops{
    background-color: #9F3A4A;
}

.noPad{
    padding: 0;
}

.sampleImg img {
    width: 100%;
    height: 90%;
}

@media screen and (max-width: 768px){
    .sampleImg{
        display: none;
    }
}