/******** Methodology styling ********/


.methodology{
    background-color: #fafafa;
    padding: 40px 50px 0;
}

/********** The heading of the tabs **********/

.tab{
    padding-bottom: 45px;
}

.tabHeading{
    padding: 25px;
    margin: auto;
<<<<<<< HEAD
    display: inline-block
=======
    display: inline-block;
>>>>>>> 1cd143b2fc4ff3dc6e6a183851e047925f74d420
}

.png img{
    max-height: 125px;
    height: 100%;
}

.png{
    display: inline-block;
    /* text-align: left; */
}

.tabInfoHead{
    color: #fff;
    display: inline-block;
    margin: auto;
<<<<<<< HEAD
    /* float: left; */
=======
>>>>>>> 1cd143b2fc4ff3dc6e6a183851e047925f74d420
}

.tabInfoHead h3{
    text-transform: uppercase;
}

<<<<<<< HEAD
.tabInfo{
    padding-top: 25px
=======
.tabInfo {
    padding-top: 25px;
>>>>>>> 1cd143b2fc4ff3dc6e6a183851e047925f74d420
}

#strategy{
    background-color: #EC5A3F;    
}

#design{
    background-color: #F68C36;
}

#implementation{
    background-color: #D42F2E;
}

#ops{
    background-color: #9F3A4A;
}

.noPad{
    padding: 0;
}

<<<<<<< HEAD
.sampleImg img{
=======
.sampleImg img {
>>>>>>> 1cd143b2fc4ff3dc6e6a183851e047925f74d420
    width: 100%;
    height: 90%;
}

@media screen and (max-width: 768px){
    .sampleImg{
        display: none;
    }
}