*{
    margin: 0;
    padding: 0;
}

/******** This is a footer ********/

.footer{
    /* background-image: url('img/footer-logo.jpg') */
    width: 100%;
    background-color: #fafafa;
    padding: 25px 10px;
}